body {
    background: #397aa2;
    font-weight: bold;
}

.wrapper {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    transform: translateY(-50%);
}

.input-area {
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 1.5rem;
    outline: none;
    font-weight: 200;
    padding: 7px;
    margin: 10px auto 20px;
}

.clear-btn {
    display: block;
    margin: auto;
    background: #fff;
    border: none;
    border-radius: 4px;
    color: #397aa2;
    padding: .5rem 1rem;
    font-size: .8rem;
}

.clear-btn:focus {
    outline: none;
}

.clear-btn:active {
    background: #e4e4e4;
}

.message-area {
    color: #fff;
    font-size: 3.5rem;
    height: 3.5rem;
}

.prompt {
    font-size: .5rem;
    color: #fff;
    font-weight: 100;
    margin-top: 20px;
}
